extends layout

block content
    | !{title}
    br
    | !{status}
    .container
        .row
            i.material-icons.md-300 sentiment_very_dissatisfied
            //i.material-icons.md-300 directions_walk
            //i.material-icons.md-300 directions_run

