body {
    background-color: #39CCCC;
}

/* Size of material-icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-300 { font-size: 300px; }

/* Center the icon */
.center {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
